html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  min-height: 100vh;
  align-items: center;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  margin: 0 auto;
}

.voiceinator {
  padding: 2rem;
  width: 30rem;
  margin: 0 auto;
  /* border-radius: 1rem; */
  /* border: 3px solid white; */
  position: relative;
  background-color: #141414;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

h1 {
  margin: 0 auto;
  padding: .5rem;
  background: #e9442e;
  border-bottom: 5px solid #ad3823;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 5rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  text-shadow: 0 1px 3px #5e1313;
  border-radius: 10px;
}

.model{
  font-size: 5rem;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  font-size: 2rem;
  background:linear-gradient(to left, #2f66ce, #2451a5) ;
  outline: 0;
  color: #9bb7ec;
  border-radius: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

textarea {
  height: 20rem;
}

input[type="select"] {

}

.voiceinator #rate,
.voiceinator #pitch {
  display: flex;
  justify-content: space-between;
}

.voiceinator input[type="range"]{
  padding: 0;
  margin: 0;
  width: 80%;
}

.voiceinator label {
  font-size: 1.5rem;
  padding: 10px;
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-family: 'Space Grotesk', sans-serif;
}

.voiceinator button {
  background: #d2dbec;
  border: 0;
  width: 49%;
  float: left;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.7rem;
  text-transform: uppercase;
  border: 5px solid #2f66ce;
  color: #2f66ce;
  cursor: pointer;
  position: relative;
}

.voiceinator button:active {
  top: 2px;
  background-color: aliceblue;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
